{
    "type": "{{type}}",
    "title": "{{name}}",
    "gridPos": {
        "x": 0,
        "y": 0,
        "w": 12,
        "h": 8
    },
    "fieldConfig": {
        "defaults": {
        "custom": {
            "drawStyle": "line",
            "lineInterpolation": "smooth",
            "barAlignment": 0,
            "lineWidth": 2,
            "fillOpacity": 30,
            "gradientMode": "hue",
            "spanNulls": false,
            "showPoints": "never",
            "pointSize": 5,
            "stacking": {
            "mode": "normal",
            "group": "A"
            },
            "axisPlacement": "auto",
            "axisLabel": "",
            "axisColorMode": "text",
            "scaleDistribution": {
            "type": "linear"
            },
            "axisCenteredZero": true,
            "hideFrom": {
            "tooltip": false,
            "viz": false,
            "legend": false
            },
            "thresholdsStyle": {
            "mode": "off"
            },
            "axisGridShow": false
        },
        "color": {
            "mode": "palette-classic"
        },
        "mappings": [],
        "thresholds": {
            "mode": "absolute",
            "steps": [
            {
                "color": "green",
                "value": null
            },
            {
                "color": "red",
                "value": 80
            }
            ]
        },
        "unit": "Bps"
        },
        "overrides": [
        {
            "matcher": {
            "id": "byName",
            "options": "rx {T0router=\"{{node_name}}\", interface=\"{{node_interface}}\"}"
            },
            "properties": [
            {
                "id": "displayName",
                "value": "Rx"
            }
            ]
        },
        {
            "matcher": {
            "id": "byName",
            "options": "tx {T0router=\"{{node_name}}\", interface=\"{{node_interface}}\"}"
            },
            "properties": [
            {
                "id": "displayName",
                "value": "Tx"
            }
            ]
        },
        {
            "matcher": {
            "id": "byName",
            "options": "rx"
            },
            "properties": [
            {
                "id": "custom.transform",
                "value": "negative-Y"
            },
            {
                "id": "color",
                "value": {
                "mode": "fixed",
                "fixedColor": "blue"
                }
            }
            ]
        }
        ]
    },
    "options": {
        "tooltip": {
        "mode": "single",
        "sort": "none"
        },
        "legend": {
        "showLegend": true,
        "displayMode": "list",
        "placement": "bottom",
        "calcs": []
        },
        "timezones": [
        "browser"
        ]
    },
    "targets": [{
      "datasource": {
        "type": "influxdb",
        "uid": "{{datasource_uid}}"
        },
        "query": "from(bucket: \"{{datasource_bucket}}\") |> range(start: v.timeRangeStart, stop: v.timeRangeStop) |> filter(fn: (r) => r[\"T0router\"] == \"{{node_name}}\") |> filter(fn: (r) => r[\"_field\"] == \"rx\" or r[\"_field\"] == \"tx\") |> filter(fn: (r) => r[\"_measurement\"] == \"Bandwidth\") |> filter(fn: (r) => r[\"interface\"] == \"{{node_interface}}\") |> derivative(unit: 1s, nonNegative: true, columns: [\"_value\"], timeColumn: \"_time\")",
        "refId": "A"
    }],
    "datasource": {
        "type": "influxdb",
        "uid": "{{datasource_uid}}"
    }
}